{cover_enabled, true}.
{sub_dirs, [
    "apps/hello_chicago",
    "rel"
]}.

{erl_opts, [
    debug_info
]}.

{deps, [
    {boss, ".*", {git, "git://github.com/ChicagoBoss/ChicagoBoss.git", {branch, master}}},
    {bcrypt, ".*", {git, "git://github.com/opscode/erlang-bcrypt.git", {branch, master}}},
    {cb_admin, ".*", {git, "git://github.com/ChicagoBoss/cb_admin.git", {branch, master}}}
]}.
