%% Relx Config
%% ===========
%%
%% You can tell relx about additional directories that you want searched for
%% otp apps during the discovery process. You do that in the 'lib_dirs' config. 
%% You can specify these on the command line with `-l`.
%{lib_dirs, ["./deps",
%            "./apps"]}.

{extended_start_script, true}.

%% If you have a sys.config file you need to tell relx where it is. If you do
%% that relx will include the sys.config in the appropriate place
%% automatically.
{sys_config, "./relfiles/sys.config"}.

%% relx will include erts by default. However, if you don't want to include
%% erts you can add the `include_erts` tuple to the config and tell relx not
%% to include it.
%% You can also override the default location erts will be included from by giving
%% a path to an alternate erlang build.
%% {include_erts, "/path/to/alternate/erlang"}.
%{include_erts, true}.

%% relx will include src files of your applications, if present, by default.
%% If you don't want to include the src files, set `include_src` to false.
%{include_src, true}.

%% Overlays as defined in Rebar are directly supported in Relx. So you can
%% take your Overlay configuration and move it to your relx.config and it
%% should just work.
{overlay_vars, "./relfiles/vars.config"}.

{overlay, [{mkdir, "data"},
           {mkdir, "log/sasl"},
           {mkdir, "etc"},
           {template, "relfiles/erl", "{{erts_vsn}}/bin/erl"},
           {template, "relfiles/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "relfiles/hello_chicago", "bin/hello_chicago"},
           {template, "relfiles/install_upgrade.escript", "bin/install_upgrade.escript"},
           {template, "relfiles/sys.config", "releases/{{rel_vsn}}/sys.config"},
           {template, "relfiles/vm.args", "releases/{{rel_vsn}}/vm.args"}
          ]}.

%% When we have multiple releases relx needs to know which one to build. You
%% can specify that on the command line with the `-n` and `-v` arguments to
%% relx. However, it is often more convenient to do it in the config.
{default_release, hello_chicago, "0.0.1"}.

{release, {hello_chicago, "0.0.1"},
  [boss,
   boss_db,
   erlando,
   proper,
   aleppo,
   ddb,
   epgsql,
   erlmc,
   uuid,
   redo,
   ets_cache,
   dh_date,
   ranch,
   mochiweb,
   cowboy,
   erlydtl,
   gen_smtp,
   poolboy,
   mochicow,
   simple_bridge,
   lager,
   tinymq,
   tiny_pq,

   bcrypt,
   cb_admin,
   hello_chicago]}.
