<!doctype html>
<title>Greetings</title>

{% if greeter %}
    <p>Howdy, {{ greeter.name }}.</p>
{% else %}
    <a href="/user/login/">Login</a>
{% endif %}

<ul>
    {% if greetings %}
        {% for greeting in greetings %}
            <li>
                <a href="{% url action="show" greeting_id=greeting.id %}">
                    {{ greeting.greeting_text }}
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li><em>No greetings</em></li>
    {% endif %}
</ul>

<a href="{% url action="create" %}">New greeting</a>

<form method="post" action="{% url action="delete" %}">
    <select name="greeting_id">
        {% for greeting in greetings %}
            <option value="{{ greeting.id }}">{{ greeting.greeting_text }}</option>
        {% endfor %}
    </select>
    <button type="submit">Delete selected greeting.</button>
</form>
