<!doctype html>
<title>Greeting</title>

{% if greeter %}
    <p>Howdy, {{ greeter.name }}.</p>
{% else %}
    <a href="/user/login/">Login</a>
{% endif %}

<h2>Greeting</h2>

<p>{{ greeting.greeting_text }}</p>

<dl>
    <dt>Created by</dt>
    <dd>{{ greeting.greeter.name }}</dd>
    <dt>Created at</dt>
    <dd>{{ greeting.created_at|date:"D d M Y, H:i:s" }}</dd>
    <dt>Updated at</dt>
    <dd>{{ greeting.updated_at|date:"D d M Y, H:i:s" }}</dd>
</dl>

<a href="{% url action="list" %}">List greetings</a>
